/* Place CSS styles here */
body {
    background-color: rgb(250, 250, 242);
}

/*Buttons*/
.button {
    background-color:  rgb(250, 250, 242);
    border: 1px solid;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(82, 102, 127);
 }

.btn-main-nav {
    text-align: right;
}
/*Header + Logo*/
.church-header-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.church-header {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 10px;
}

.church-container {
    position: relative;
    text-align: center;
}
.church-name {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.church-slogan {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*Sermon Page*/
.sermon-container {
    position: relative;
    text-align: center;
}
.sermon {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/*About Page*/
.about-container {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/*Footer*/
.hellokitty-footer-wrapper{
    padding-top: 32px;
    border-top: 2px solid black;
    margin-top: 32px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: 400px;
    margin-bottom: 15px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*Copyright/Name*/
  .hellokitty-footer{
    display: flex;
    justify-content: space-between;
    color: black;
  }
a[href^="tel:"],
a[href^="mailto:"] {
    color: black;
    text-decoration: none;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }